/* sprite 1x*/
@mixin stitches-sprite($x: 0, $y: 0, $width: 0, $height: 0) {
    background-position: $x $y;
    width: $width;
    height: $height;
}

.sprite {
  background: url(../img/pictures/icons/sprite.png) no-repeat;
  display: block;

  &.sprite-ico-features__1 {
    @include stitches-sprite(-3px, -3px, 128px, 128px);
  }

  &.sprite-ico-features__2 {
    @include stitches-sprite(-3px, -137px, 128px, 128px);
  }

  &.sprite-ico-features__3 {
    @include stitches-sprite(-3px, -271px, 128px, 128px);
  }

  &.sprite-ico-features__4 {
    @include stitches-sprite(-3px, -405px, 128px, 128px);
  }

  &.sprite-ico-webhost {
    @include stitches-sprite(-3px, -539px, 168px, 169px);
  }

  &.sprite-map-marker {
    @include stitches-sprite(-3px, -714px, 33px, 47px);
  }

  &.sprite-social-icons {
    @include stitches-sprite(-3px, -767px, 89px, 18px);
  }
}



/* sprite 2x*/
.sprite {
  background: url(../img/pictures/icons@2x/sprite@2x.png) no-repeat;
  display: block;

&.sprite-ico-features__1_2x {
  @include stitches-sprite(-5px, -5px, 256px, 256px);
 }

&.sprite-ico-features__2_2x {
  @include stitches-sprite(-5px, -271px, 256px, 256px);
 }

&.sprite-ico-features__3_2x {
  @include stitches-sprite(-5px, -537px, 256px, 256px);
 }

&.sprite-ico-features__4_2x {
  @include stitches-sprite(-5px, -803px, 256px, 256px);
 }

&.sprite-ico-webhost_2x {
  @include stitches-sprite(-5px, -1069px, 336px, 338px);
 }

&.sprite-map-marker_2x {
  @include stitches-sprite(-5px, -1417px, 66px, 94px);
 }

&.sprite-social-icons_2x {
  @include stitches-sprite(-5px, -1521px, 178px, 36px);
 }
}